 .cards{
        padding: 0 80px;
        margin: 120px auto;
     }
     .card-text{
        text-align: center;
     }
     .card-text h1{
        font-size: 50px;
        color: #232c35;
     }
     .card-text p{
        font-size: 25px;
    
        line-height: 2;
        color: #232c35;
     }
     .cards-container{
        margin: 60px 0;
        padding: 0 80px;
     }
     .first-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 30px 0;
     }
     .card-1 img{
      width:291px ;
      opacity: 0;
      

      
      
        
     }
     
.card-1-image{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    gap: 20px;
    
    
    
}

.card-2-image{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card-1{
    height: 375px;
    padding: 40px;
    cursor: pointer;
    background-color:white;
    box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    
}
.card-1:hover,
.card-1:hover h2,
.card-1:hover p,
.card-1:hover h3,
.card-1:hover img
{
    background-color: blue;
    color: whitesmoke;
    opacity: 1;
    
    
}
.card-1 h2{
    font-size: 40px;
    color: navy;
}



.card-1 p{
    font-size: 18px;
    width: 70%;
    margin-top: 10px;
    font-weight: 400;
    color: #232c35;
}

.card-1-image h3{
/* padding-bottom: 55px; */
font-weight: 400;
color: navy;



}


 

.card-2{
height: 375px;
padding: 45px;
cursor: pointer;
background-color:white;
box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
border-radius: 20px;

}
.card-2:hover,
.card-2:hover h2,
.card-2:hover p,
.card-2:hover h3,
.card-2:hover img{
background-color: dodgerblue;
color: whitesmoke;
opacity: 1;

}
.card-2 h2{
font-size: 40px;

color: dodgerblue;
}
.card-2 img{
width: 273px;
opacity: 0;

}


.card-2 p{
font-size: 18px;
width: 70%;
margin-top: 10px;
font-weight: 400;
color: #232c35;

}

.card-2-image h3{
/* padding-bottom: 55px; */
font-weight: 400;
color: dodgerblue;


}
.card-3-image-text{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card-3{
    height: 375px;
    padding: 45px;
    cursor: pointer;
    background-color:white;
    box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
    border-radius: 20px;
    
    }
    .card-3:hover,
    .card-3:hover h2,
    .card-3:hover p,
    .card-3:hover h3,
    .card-3:hover img{
    background-color: rgb(70, 141, 70);
    color: whitesmoke;
    opacity: 1;
    
    }
    .card-3 h2{
    font-size: 40px;
    
    color: rgb(70, 141, 70);
    }
    .card-3 img{
    width: 222px;
    opacity: 0;
    
    }
    
    
    .card-3-text p{
    font-size:18px;
    margin-top: 10px;
    font-weight: 400;
    color: #232c35;
    width: 70%;
    
    }
    
    .card-3-image-text h3 {
    /* padding-bottom: 55px; */
    font-weight: 400;
    color: rgb(70, 141, 70);
    
    
    }
    .card-4-image-text{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .card-4{
        height: 375px;
        padding: 45px;
        cursor: pointer;
        background-color:white;
        box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
        border-radius: 20px;
        
        }
        .card-4:hover,
        .card-4:hover h2,
        .card-4:hover p,
        .card-4:hover h3,
        .card-4:hover img{
        background-color: hotpink;
        color: whitesmoke;
        opacity: 1;
        
        }
        .card-4 h2{
        font-size: 40px;
        
        color:hotpink;
        }
        .card-4 img{
        width: 295px;
        opacity: 0;
        
        }
        
        
        .card-4-text p{
        font-size:18px;
        width: 70%;
        margin-top: 10px;
        font-weight: 400;
        color: #232c35;
        
        }
        
        .card-4-image-text h3{
        padding-bottom: 55px;
        font-weight: 400;
        color:hotpink;
        }
        
        
        .card-5-text-image{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        
        .card-5{
            height: 375px;
            padding: 45px;
            cursor: pointer;
            background-color:white;
            box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
            border-radius: 20px;
            
            }
            .card-5:hover,
            .card-5:hover h2,
            .card-5:hover p,
            .card-5:hover h3,
            .card-5:hover img{
            background-color: black;
            color: whitesmoke;
            opacity: 1;
            
            }
            .card-5 h2{
            font-size: 40px;
            
            color:black;
            }
            .card-5 img{
            width: 295px;
            opacity: 0;
            
            }
            
            
            .card-5-text p{
            font-size:18px;
            width: 70%;
            margin-top: 10px;
            font-weight: 400;
            color: #232c35;
            
            }
            
            .card-5-text-image h3{
            /* padding-bottom: 55px; */
            font-weight: 400;
            color:black;
            }
    
            .card-6-text-image{
                display: flex;
                align-items: center;
                gap: 20px;
            }
            
            .card-6{
                height: 375px;
                padding: 45px;
                cursor: pointer;
                background-color:white;
                box-shadow: 5px 5px 10px rgba(10, 8, 8, 0.1);
                border-radius: 20px;
                
                }
                .card-6:hover,
                .card-6:hover h2,
                .card-6:hover p,
                .card-6:hover h3,
                .card-6:hover img{
                background-color:orangered;
                color: whitesmoke;
                opacity: 1;
                
                }
                .card-6 h2{
                font-size: 40px;
                
                color:orangered;
                }
                .card-6 img{
                width: 318px;
                opacity: 0;
                
                }
                
                
                .card-6-text p{
                font-size:18px;
                width: 70%;
                margin-top: 10px;
                font-weight: 400;
                color: #232c35;
                
                }
                
                .card-6-text-image h3{
                /* padding-bottom: 55px; */
                font-weight: 400;
                color:orangered;
                }

        @media screen and (max-width:600px) {
             .card-1{
            width: 410px;
            padding:  20px 10px;
            flex-direction: column;
        
        }
        .card-1 img{
            width: 220px;
        }
        .card-1-text{
            text-align: center;
        }
        .card-1-text h1{
            font-size: 15px;
        }
        .card-1-image{
            margin-top: 41px;
        }
        
        .card-2{
            width: 410px;
            padding:  20px 10px;
        
        }
        .card-2 img{
            width: 240px;
        }
        .card-2-text{
            text-align: center;
        }
        .card-2-text h1{
            font-size: 15px;
        }
        .card-2-image{
            margin-top: 48px;
        }
        
        .card-3{
            width: 410px;
            padding:  20px 10px;
        
        }
        .card-3 img{
            width: 190px;
        }
        .card-3-text{
            text-align: center;
        }
        .card-3-text h1{
            font-size: 15px;
        }
        .card-3-image-text{
            margin-top: 69px;
        }
        .card-4{
            width: 410px;
            padding:  20px 10px;
        
        }
        .card-4 img{
            width: 240px;
        }
        .card-4-text{
            text-align: center;
        }
        .card-4-text h1{
            font-size: 15px;
        }
        .card-4-image-text{
            margin-top: 69px;
        }
        .card-5{
            width: 410px;
            padding:  20px 10px;
        
        }
        .card-5 img{
            width: 240px;
        }
        .card-5-text{
            text-align: center;
        }
        .card-5-text h1{
            font-size: 15px;
        }
        .card-5-text-image{
            margin-top: 91px;
            
        }
        .card-6{
            width: 410px;
            padding:  20px 10px;
        
        }
        .card-6 img{
            width: 200px;
        }
        .card-6-text{
            text-align: center;
        }
        .card-6-text h1{
            font-size: 15px;
        }
        .card-6-text-image{
            margin-top: 130px;
        }
        .cards{
            padding: 20px;
        }
        }